body {
    background: linear-gradient(180deg, rgb(0, 0, 19), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1200px; /* Maximum width */
  width: 90%; /* Default width as 90% of the viewport */
  margin: 0 auto; /* Centers the body */
}

.header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    color: white;
    margin: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
}

.header h4 {
    font-size: 10px;
}

.header h4:hover {
    color: #ffcc00;
    text-decoration: none;
}

.Home {
    text-align: left;
}

.About {
    text-align: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top: -100px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 60px;
    margin-top: 20px;
}

.content h1 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    text-align: left;
    flex-direction: column;
    margin-top: -50px;
}

.content p {
    color:#888;
    font-size: 15px;
}

.content img {
    width: 150px;
    border-radius: 20px;
    margin: 40px;
    margin-top: -26px;
}

.content img:hover {
    transform: none;
}

.content1 h4 {
    color: rgb(0, 174, 255);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
}

.text {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
}

.text h1 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    text-align: left
}

.text h4 {
    color: rgb(0, 174, 255);
    font-family: 'Autography';
    font-size: 20px;
    text-align: left;
    margin-top: -35px;
}

.line {
    border: none;
    height: 3px;
    background-color: #040d42;
    margin-top: -70px;
    border-radius: 200px;
    box-shadow:
    0 0 5px #040d42,
    0 0 10px #040d42,
    0 0 20px #040d42,
    0 0 30px #040d42;
}

.line1 {
    border: none;
    height: 3px;
    background-color: #040d42;
    margin-top: -500px;
    border-radius: 200px;
    box-shadow:
    0 0 5px #040d42,
    0 0 10px #040d42,
    0 0 20px #040d42,
    0 0 30px #040d42;
}

.container1 {
    display: flex;
}

.secondpage {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 20px;
    height: 155vh;
    color: white;
    width: 300px;
}

.secondpage h2 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-top: -50px;
}

.secondpage p {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: -10px;
}

.secondpage img {
    width: 150px;
    border-radius: 20px;
    padding: 10px;
}

.thirdpage {
    display: inline-block;
    height: 100vh;
    color: white;
    width: 30%;
    padding: 50px;
}

.thirdpage h2 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-top: 20px;
}

.projects {
    display: flex;
    color: white;
    width: 100%;
}

.hidden-on-load {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.show-on-scroll {
    opacity: 1;
    transform: translateY(0);
}

.project {
    display: inline-block;
    text-align: center;
    height: fit-content;
    max-width: 220px;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

.line2 {
    border: none;
    height: 3px;
    background-color: #040d42;
    margin-top: -300px;
    border-radius: 200px;
    box-shadow:
    0 0 5px #040d42,
    0 0 10px #040d42,
    0 0 20px #040d42,
    0 0 30px #040d42;
}

.container3 {
    display: flex;
    gap: 250px;
    margin-top: 60px;
    margin-left: 00px;
    align-items: center;
}

.fourthpage {
    display: inline-block;
    height: 100vh;
    color: white;
    width: 30%;
    padding: 50px;
}

.fourthpage h2 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-top: -50px;
}

.fourthpage p {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: -10px;
}

.fourthpage form {
    text-align: left;
    margin-top: 20px;
    width: 40px;
    color: rgb(66, 66, 66);
}

.name {
    width: 350px;
    height: 8px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #3f3f3f59;
    color: white;
    margin-bottom: 10px;
}

.email {
    width: 350px;
    height: 8px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #3f3f3f59;
    color: white;
    margin-bottom: 10px;
}

.message {
    width: 350px;
    height: 48px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #3f3f3f59;
    color: white;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.submit {
    width: 390px;
    height: 46px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff00;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
  box-shadow:
    0 0 5px #040d42,
    0 0 10px #040d42,
    0 0 20px #040d42;
  transition: 0.3
}

.submit:hover {
    box-shadow:
    0 0 10px #040d42,
    0 0 20px #040d42,
    0 0 30px #040d42,
    0 0 40px #040d42;
}

img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.main {
    margin-top: -300px;
}

.quote {
    text-align: center;
    color:#888;
    margin-top: 0px;
    font-size: 15px;
}

.quote img {
    width: 250px;
    border-radius: 20px;
    padding: 10px;
}

.quote img:hover {
    transform: none;
}

.quote a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.692);
    font-family: 'Arial', sans-serif;
}

.quote h2 {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    text-align: left;
}

.social {
    text-align: right;
    display: flex;
    margin-right: -30px;
    margin-left: 30px;

}

.social img {
    margin-right: 0px;
    height: 70px;
    width: 70px;
    border-radius: 20px;
    padding: 10px;
}

.footer p {
    background-color: black;
    text-align: center;
    color: #aaa;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
    font-size: 12px;
}

.ending {
    background-color: rgb(124, 124, 124);
    width: 200px;
}

.container4 {
    display: flex;
}

.box1 {
    width: 300px;
    height: 300px;
    text-align: center;
    margin-right: 30px;
    border-radius: 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -350px;
    box-shadow: 20px;
}

.footer svg {
    margin: 5px;
    text-decoration: none;
}

.footer a {
    color: #bbb;
}

.wa:hover {
    color: green;
    text-decoration: none;
}

.ig:hover {
    color: rgb(194, 0, 107);
    text-decoration: none;
}

.gt:hover {
    color: rgb(42, 0, 231);
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1100px) {
  /* Styles for iPads / Tablets */
  body {
    font-size: 16px;
    padding: 20px;
  }

  .container {
    flex-direction: row;
    gap: 20px;
  }

  .content {
    flex: 1;
    padding: 20px;
    height: fit-content;
  }

    .content h1 {
        font-size: 40px;
        margin-top: -20px;
    }

    .content h4 {
        font-size: 16px;
        margin-top: 20px;
    }

    .content p {
        font-size: 11px;
        margin-top: 10px;
    }

    .content img {
        width: 200px;
        margin-top: -30px;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        gap: -55px;
    }

    .secondpage {
        width: 100%;
        padding: 20px;
        gap: 2px;
        height: fit-content;
    }

    .line1 {
        margin-top: 0px;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        gap: 20px;
    }

  .secondpage, .thirdpage {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 100%;
    margin: 10px auto;
    height: fit-content;
  }

    .line {
        margin-top: -100px;
    }
    
  .line1 {
    margin-top: 00px;
  }

   .line2 {
    margin-top: 00px;  
  }

    .container3 {
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
    }

    .fourthpage {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        text-align: center;
    }

    .fourthpage p {
        color: white;
        width: 350px;
        margin-top: -10px;
    }

    .main {
        align-items: center;
        margin-top: -50px;
        text-align: center;
    }

    .footer {
        text-align: center;
        padding: 20px;
    }

    .footer hr {
        align-items: center;
    }

    .quote {
        text-align: center;
        color:#888;
        margin-top: 0px;
        font-size: 15px;
    }

  .sidebar {
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* Styles for mobile devices */
  body {
    font-size: 14px;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .header {
    flex-direction: row;
    align-items: right;
  }

    .header h4 {
        font-size: 12px;
        margin: 0 5px;
    }

    .header button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        gap: -55px;
    }

    .secondpage {
        width: 100%;
        padding: 20px;
        gap: 2px;
        height: fit-content;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        gap: 20px;
    }

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

    .content h1 {
        font-size: 20px;
        margin-top: -10px;
        text-align: center;
    }

    .content img {
        width: 120px;
        margin-top: -20px;
    }

    .content h4 {
        font-size: 18px;
        margin-top: 25px;
        text-align: center;
    }

    .content p {
        font-size: 10px;
        margin-top: 10px;
    }

  .secondpage, .thirdpage {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 100%;
    margin: 10px auto;
    height: fit-content;
  }

    .line {
        margin-top: -100px;
    }
    
  .line1 {
    margin-top: 00px;
  }

   .line2 {
    margin-top: 00px;  
  }

    .container3 {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .fourthpage {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        text-align: center;
    }

    .name, .email {
    width: 300px;
    height: 8px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #3f3f3f59;
    color: white;
    margin-bottom: 10px;
    }

    .message {
    width: 300px;
    height: 48px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #3f3f3f59;
    color: white;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .submit {
    width: 340px;
    height: 46px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff00;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
  box-shadow:
    0 0 5px #040d42,
    0 0 10px #040d42,
    0 0 20px #040d42;
  transition: 0.3s;
    }

    .main {
        align-items: center;
        margin-top: -50px;
        text-align: center;
    }

    .footer {
        text-align: center;
        padding: 20px;
    }

    .footer hr {
        align-items: center;
    }
}