body {
    background-image: url("https://images.hdqwalls.com/wallpapers/astronaut-planet-science-ficition-dark-ig.jpg");
    background-position: center;
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: rgb(189, 160, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: smaller;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 36px;
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    color: #666;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #666;
  }
  
  footer{
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }

  ul{
    align-items: center;
  }